* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  background: #000 !important;
  color: #fff;
}

.logo {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  padding: 1em;
  z-index: 10000000;
}

.logo a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 4px;
  font-family: "Formula Condensed";
  line-height: 1.5;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-family: "Neue Montreal";
  font-size: 12px;
  padding: 1em 2em;
}

.nav a#main-branch {
  margin-left: 2em;
  margin-right: 5em;
  color: #fff;
}

.nav .nav-items.primary a {
  color: rgb(110, 110, 110);
}

.carousel {
  position: absolute !important;
  width: calc(98vw - 2em);
  height: calc(94vh - 2em);
  margin: 0 auto !important;
  left: 2em !important;
}

.carousel-inner {
  height: 100%;
}

#myCarousel {
  border-radius: 40px;
  overflow: hidden;
}

.carousel-item {
  position: relative !important;
  height: 100% !important;
}

/* carousel content */

.carousel-caption {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 1s;
  opacity: 0;
}

.carousel-caption::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px) opacity(1);
  border-radius: 100%;
  z-index: -1;
  transition: all 0.3s;
  opacity: 1;
}

.carousel-caption.animate-in {
  opacity: 1;
  transition: all 0.3s;
}

video {
  opacity: 0.5 !important;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
  margin: 0 !important;
}

ion-icon {
  position: relative;
  top: 2px;
}

span {
  padding: 0 1em;
}

.row:nth-child(2) {
  justify-content: center;
}

.header {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-family: "Formula Condensed";
  text-transform: uppercase;
  letter-spacing: 1em;
  font-size: 20px;
}

.header p {
  font-size: 12px;
}

/* carousel nav */

.carousel-control-prev,
.carousel-control-next {
  position: absolute !important;
  z-index: 100000 !important;
}

.carousel-control-prev {
  left: -4em !important;
}

.carousel-control-next {
  right: -4em !important;
}

@media (max-width: 900px) {
  .nav {
    display: none !important;
  }

  .carousel {
    width: 100%;
    height: 100%;
    top: 4em;
    left: 0 !important;
  }

  #myCarousel {
    border-radius: 0px;
    overflow: hidden;
  }

  .carousel-control-prev {
    left: 0 !important;
  }

  .carousel-control-next {
    right: 0 !important;
  }
}
